<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
 <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/sty.css') }}">
<!--<link rel="stylesheet" type="text/css" href="../static/css/sty.css">-->

</head>

<body>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Let's predict the promotion
        <br class="hidden lg:inline-block">of an Employee!
      </h1>
      <p class="mb-8 leading-relaxed">Employee is the key element of the organization. The success or failure of an organization
depends on the employee performance. This project presents how supervised learning method can be applied for evaluating the
employee’s performance as well in decision making process. The result of this project
predicts the number of employee those are selected for promotion or designation and discharged
according to their performance.</p>
      <div class="flex justify-center">
        <a href="#promo">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Predict Promotion</button>
        </a>
          <a href="http://turnoverprediction.herokuapp.com/" target="_blank">
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Predict Turnover</button>
              </a>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
<!--      <img class="object-cover object-center rounded" alt="hero" src="https://images.unsplash.com/photo-1568234928966-359c35dd8327?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=427&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjE3ODk2OTk3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=512">-->
    </div>
  </div>
</section>
<div class="logo-row" id="promo"><br><br>
 <div class="logo">  </div>
</div>
<div class="main">

 <div class="login">
<!--     <img src="somaiya.png" class="somaiya" width="100" height="100" >-->
	<h2>Predict Promotion</h2>
<!--{{val_req}}-->
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" id="login" method="post">
        <label>Select classifier</label><br>
        <select class="name" name="classifier" required>
            <option selected hidden>Select classifier</option>
            <option value=1>Random Forest</option>
            <option value=2>Adaboost</option>
            <option value=3>SVM</option>
        </select>
        <br><br>
        <label>Department :</label><br>
        <select class="name" name="department" required>
            <option selected hidden>Select department</option>
            <option value=1>Sales & Marketing</option>
            <option value=2>Operations</option>
            <option value=3>Technology</option>
            <option value=4>Analytics</option>
            <option value=5>R&D</option>
            <option value=6>Procurement</option>
            <option value=7>Finance</option>
            <option value=8>HR</option>
            <option value=9>Legal</option>
        </select>
        <br><br>
        <label>Education :</label><br>
        <select class="name" name="education" required>
            <option selected hidden>Select education</option>
            <option value=1>Master's & above</option>
            <option value=2>Bachelor's</option>
            <option value=3>Below Secondary</option>
        </select>
        <br><br>
        <label>Gender :</label><br>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="male" value=1>
        &nbsp;
        <label for="male">Male</label><br>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="female" value=2>
        &nbsp;
        <label for="male">Female</label>
        <br><br>
        <label>Recruitment Channel :</label><br>
        <select class="name" name="recruitment_channel">
            <option selected hidden>Select recruitment_channel</option>
            <option value=1>sourcing</option>
            <option value=2>other</option>
            <option value=3>referred</option>
        </select>
        <br><br>
        <label>Trainings :</label><br>
        <input type="number" name="no_of_trainings" id="sam" placeholder="Enter no_of_trainings" required="required" /><br><br>
        <label>Age :</label><br>
        <input type="number" name="age" id="sam" placeholder="Enter age" required="required" /><br><br>
        <label>Rating :</label><br>
        <input type="number" name="previous_year_rating" id="sam" placeholder="Enter previous_year_rating" required="required" /><br><br>
        <label>Service :</label><br>
        <input type="number" name="length_of_service" id="sam" placeholder="Enter length_of_service" required="required" /><br><br>
        <label>KPIs :</label><br>
        <input type="number" name="KPIs_met >80%" id="sam" placeholder="Enter KPIs_met >80%" required="required" /><br><br>
        <label>Awards Won :</label><br>
        <input type="number" name="awards_won?" id="sam" placeholder="Enter awards_won?" required="required" /><br><br>
        <label>Training Score :</label><br>
        <input type="number" name="avg_training_score" id="sam" placeholder="Enter avg_training_score" required="required" /><br><br>
        <button type="submit" id="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
<!--   {{ prediction_text }}-->

 </div>
</div>
    <marquee behavior="scroll" scrollamount="15" ><h3>
    {{ prediction_text }}
    </h3></marquee>
    <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Our team consists of people with different backgrounds and personalities. This combination makes it a strong team who will always collaborate to find ways to bundle each other’s strengths.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="person">
<!--          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4">-->
                </div>
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Samkit Sanghavi</h2>
            <h3 class="text-gray-500 mb-3">Web Designer</h3>
            <p class="mb-4">Designed the webpage using HTML and CSS</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
        <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="man"></div>
<!--          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">-->
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Jasmine Shaikh</h2>
            <h3 class="text-gray-500 mb-3">Web Developer</h3>
            <p class="mb-4">Build web application in python using Flask & deployed it on Heroku platform</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="person"></div>
<!--          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">-->
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Suraj Prabhu</h2>
            <h3 class="text-gray-500 mb-3">ML Programmer</h3>
            <p class="mb-4">Datapreprocessing, training and testing of model using machine learning</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
        <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="man"></div>
<!--          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">-->
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Dr Rupali Patil</h2>
            <h3 class="text-gray-500 mb-3">Project Guide</h3>
            <p class="mb-4">Gave guidence and new ideas to enhance our project</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
