<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/sty.css') }}">

</head>

<body>
<div class="logo-row"><br><br>
 <div class="logo">  </div>
</div>
<div class="main">

 <div class="login">
<!--     <img src="somaiya.png" class="somaiya" width="100" height="100" >-->
	<h2>Predict Promotion</h2>
<!--{{val_req}}-->
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" id="login" method="post">
        <label>Select classifier</label><br>
        <select id="name" name="classifier">
            <option value=1>Random Forest</option>
            <option value=2>Adaboost</option>
            <option value=3>SVM</option>
        </select>
        <br><br>
        <label>Department :</label><br>
        <select id="name" name="department">
            <option value="department">Select department</option>
            <option value=1>Sales & Marketing</option>
            <option value=2>Operations</option>
            <option value=3>Technology</option>
            <option value=4>Analytics</option>
            <option value=5>R&D</option>
            <option value=6>Procurement</option>
            <option value=7>Finance</option>
            <option value=8>HR</option>
            <option value=9>Legal</option>
        </select>
        <br><br>
        <label>Education :</label><br>
        <select id="name" name="education">
            <option value="education">Select education</option>
            <option value=1>Master's & above</option>
            <option value=2>Bachelor's</option>
            <option value=3>Below Secondary</option>
        </select>
        <br><br>
        <label>Gender :</label><br>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="male" value=1>
        &nbsp;
        <label for="male">Male</label><br>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" id="female" value=2>
        &nbsp;
        <label for="male">Female</label>
        <br><br>
        <label>Recruitment Channel :</label><br>
        <select id="name" name="recruitment_channel">
            <option value="recruitment_channel">Select recruitment_channel</option>
            <option value=1>sourcing</option>
            <option value=2>other</option>
            <option value=3>referred</option>
        </select>
        <br><br>
        <label>Trainings :</label><br>
        <input type="number" name="no_of_trainings" id="sam" placeholder="Enter no_of_trainings" required="required" /><br><br>
        <label>Age :</label><br>
        <input type="number" name="age" id="sam" placeholder="Enter age" required="required" /><br><br>
        <label>Rating :</label><br>
        <input type="number" name="previous_year_rating" id="sam" placeholder="Enter previous_year_rating" required="required" /><br><br>
        <label>Service :</label><br>
        <input type="number" name="length_of_service" id="sam" placeholder="Enter length_of_service" required="required" /><br><br>
        <label>KPIs :</label><br>
        <input type="number" name="KPIs_met >80%" id="sam" placeholder="Enter KPIs_met >80%" required="required" /><br><br>
        <label>Awards Won :</label><br>
        <input type="number" name="awards_won?" id="sam" placeholder="Enter awards_won?" required="required" /><br><br>
        <label>Training Score :</label><br>
        <input type="number" name="avg_training_score" id="sam" placeholder="Enter avg_training_score" required="required" /><br><br>
        <button type="submit" id="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
<!--   {{ prediction_text }}-->

 </div>
</div>
    <h3>
    {{ prediction_text }}
    </h3>
</body>
</html>
